
@{
    ViewBag.Title = "HW1";
}
<br />
<p>姓名：<input type="text" name="name" value="" /></p>

<p>帳號：<input type="text" name="name" value="" /></p>

<p>密碼：<input type="password" name="name" value="" /></p>

<p>性別：
    <input type="radio" name="name" value="" />男性
    <input type="radio" name="name" value="" />女性
</p>

<p>
    興趣：
    <input type="checkbox" name="name1" value="" />游泳
    <input type="checkbox" name="name1" value="" />閱讀
    <input type="checkbox" name="name1" value="" />看電影
</p>

<p>自我介紹：<textarea></textarea></p>