
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input type="text" name="name" value="" />
<br />
<input type="radio" name="name" value="" />
<br />
<input type="password" name="name" value="" />
<br />
<textarea></textarea>
